body {
  font: 100% "Open Sans", serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  min-width: 1170px;
}

.navbar {
  background: rgba(107, 98, 197, 0.5);
  position: absolute;
  width: 100%;
}
.navbar ul {
  gap: 40px;
}
.navbar ul li a {
  color: #FAFAFE;
  transition: 0.4s;
}
.navbar ul li a:hover {
  color: #1BBF00;
}
.navbar button {
  background: #1BBF00;
  box-shadow: 0 0 1px rgba(27, 191, 0, 0.25);
  border: 3px solid transparent;
  border-radius: 100px;
  padding: 14px 28px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
}

.banner {
  background: url("/Images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
}
.banner .overlay {
  padding: 246px 0 254px 0;
  background: rgba(107, 98, 197, 0.8);
  width: 100%;
  height: 100%;
  color: #FAFAFE;
}
.banner .overlay .text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner .overlay h2 {
  width: 962px;
  font-size: 84px;
  font-weight: 700;
  line-height: 100px;
  padding-bottom: 20px;
}
.banner .overlay p {
  width: 715px;
  font-size: 24px;
  font-weight: 400;
  font-family: "Paprika", serif;
  line-height: 40px;
  padding-bottom: 16px;
}
.banner .overlay button {
  background: #1BBF00;
  box-shadow: 0 0 1px rgba(27, 191, 0, 0.25);
  border: 3px solid transparent;
  border-radius: 100px;
  padding: 14px 28px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
}
.banner .overlay button:hover {
  background: transparent;
  border: 3px solid #1BBF00;
}

#rewards img {
  position: absolute;
  right: 0;
}
#rewards .col {
  padding: 283px 0;
}
#rewards .card {
  border: none;
  border-right: 1px solid #4F585F;
  background: transparent;
}
#rewards h3 {
  font-size: 64px;
  font-weight: 800;
  line-height: 87.16px;
  color: #1BBF00;
  padding-bottom: 24px;
}
#rewards p {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #141135;
}

#choose {
  justify-content: space-between;
}
#choose .element {
  position: absolute;
  z-index: -1;
}
#choose .left {
  padding: 100px 0px 91px 0px;
}
#choose .left .cards {
  width: 568px;
  align-items: center;
  gap: 37px;
  padding: 0px 146px 0px 28px;
}
#choose .left li:hover {
  border: none;
  border-radius: 12px;
  padding: 42px 146px 42px 28px;
  background: #ffffff;
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
#choose .left .circle {
  position: relative;
}
#choose .left .circle1 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #1BBF00;
}
#choose .left .circle2 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #CBC8F0;
  position: absolute;
  top: 0;
  left: 12px;
}
#choose .left .text p {
  width: 331px;
  font-size: 18px;
  font-family: "Paprika", serif;
  line-height: 30px;
  color: #726E9E;
}
#choose .right {
  padding-left: 186px;
  padding-top: 100px;
  padding-bottom: 237px;
}
#choose .right h3 {
  font-size: 48px;
  font-weight: bold;
}
#choose .right p {
  font-size: 18px;
  line-height: 30px;
  font-family: "Paprika", serif;
}
#choose .right button {
  background: #1BBF00;
  box-shadow: 0 0 1px rgba(27, 191, 0, 0.25);
  border: 3px solid transparent;
  border-radius: 100px;
  padding: 14px 28px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
}

#do {
  background: #F6F5FF;
  width: 100%;
  padding: 100px;
}
#do .start_card {
  padding: 48px;
}
#do .start_card h3 {
  padding-bottom: 20px;
  padding-top: 100px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
#do .start_card p {
  width: 350px;
  padding-bottom: 56px;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.5px;
}
#do .start_card button {
  background: #1BBF00;
  box-shadow: 0 0 1px rgba(27, 191, 0, 0.25);
  border: 3px solid transparent;
  border-radius: 100px;
  padding: 14px 28px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
}
#do .content {
  width: 370px;
  text-align: center;
  background: #ffffff;
  padding: 48px;
  border-radius: 20px;
  margin-top: 15px;
}
#do .content:hover {
  background: #6B62C5;
  color: #FAFAFE;
}
#do .content:hover a {
  color: #FAFAFE;
}
#do .content:hover .circle {
  background: #FAFAFE;
}
#do .content img {
  padding-top: 48px;
  padding-bottom: 32px;
}
#do .content h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}
#do .content p {
  width: 278px;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 5px;
}
#do .content a {
  position: relative;
  padding: 5px;
  z-index: 999;
  font-weight: 600;
  color: #141135;
  padding-bottom: 50px;
}
#do .content .circle {
  width: 27px;
  height: 40px;
  border-radius: 0 50% 50% 0;
  background: #1BBF00;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  opacity: 0.3;
}

#impact .tittle {
  padding-top: 91px;
  padding-bottom: 75px;
}
#impact .tittle h3 {
  padding-top: 100px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
#impact .tittle p {
  width: 558px;
  font-size: 18px;
  line-height: 30px;
  font-family: "Paprika", serif;
  margin: 0 auto;
}
#impact .content {
  gap: 10px;
  justify-content: space-between;
}
#impact .content img {
  width: 100%;
}
#impact .content li {
  padding-top: 40px;
}
#impact .content .text h4 {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.5px;
}
#impact .content .text p {
  width: 343px;
  font-size: 18px;
  line-height: 30px;
}
#impact .content .left .cards {
  gap: 35px;
  justify-content: center;
}

#plan {
  background: #F9F9FB;
  padding-bottom: 100px;
}
#plan .tittle {
  padding-bottom: 64px;
}
#plan .tittle h2 {
  padding-top: 100px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
#plan .cards {
  border-radius: 20px;
  background: #ffffff;
}
#plan .cards:hover {
  background: #6B62C5;
  color: #FAFAFE;
}
#plan .cards:hover p {
  color: #FAFAFE;
}
#plan .cards h4 {
  padding-top: 60px;
  padding-bottom: 24px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
#plan .cards img {
  width: 100%;
}
#plan .cards h3 {
  font-size: 48px;
  padding-top: 24px;
  line-height: 50px;
  font-weight: 800;
  color: #1BBF00;
  font-family: "Nunito", serif;
}
#plan .cards p {
  width: 252px;
  font-size: 18px;
  line-height: 32px;
  font-family: "Paprika", serif;
  margin: 0 auto;
  color: #726E9E;
  padding-bottom: 60px;
  text-shadow: 1px 1px #000000;
}

#thinks {
  background: #F8F8FF;
  text-align: center;
}
#thinks .tittle {
  padding-bottom: 80px;
}
#thinks .tittle h2 {
  padding-top: 100px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
#thinks .slideshow {
  width: 1080px;
  padding-top: 100px;
  margin: 0 auto;
}
#thinks .slideshow .round_image {
  width: 147px;
  height: 147px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: red;
  position: absolute;
  box-shadow: -10px 30px 50px 0px rgba(171, 175, 199, 0.35);
}
#thinks .slideshow .round_image img {
  width: 100%;
}
#thinks .slideshow .slideshow_box {
  margin: 0 auto;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: -15px 30px 50px 0px rgba(171, 175, 199, 0.32);
}
#thinks .slideshow .slideshow_box .icon {
  padding-top: 120px;
  padding-bottom: 33px;
}
#thinks .slideshow .slideshow_box .details {
  width: 800px;
  font-size: 24px;
  line-height: 40px;
  padding-bottom: 48px;
  margin: 0 auto;
  font-family: "Paprika", serif;
  color: #726E9E;
}
#thinks .slideshow .slideshow_box h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 40px;
}
#thinks .slideshow .slideshow_box p {
  font-size: 16px;
  padding-bottom: 56px;
  line-height: 25px;
  color: #726E9E;
  font-family: "Paprika", serif;
}/*# sourceMappingURL=style.css.map */