#choose {
    justify-content: space-between;

    .element {
        position: absolute;
        z-index: -1;
    }

    .row {
        padding: 100px 0px 91px 0px;
    }

    .left {

        .cards {
            width: 568px;
            align-items: center;
            gap: 37px;
            padding: 0px 146px 0px 28px;

        }

        li:hover {
            border: none;
            border-radius: 12px;
            padding: 42px 146px 42px 28px;
            background: #ffffff;
            -webkit-box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);

        }

        .circle {
            position: relative;
        }

        .circle1 {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: $green;


        }

        .circle2 {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #CBC8F0;
            position: absolute;
            top: 0;
            left: 12px;
        }

        .text p {
            width: 331px;
            font-size: 18px;
            font-family: $paprika;
            line-height: 30px;
            color: #726E9E;
        }

    }

    .right {
        padding-left: 186px;
        padding-top: 100px;
        padding-bottom: 237px;

        h3 {
            font-size: 48px;
            font-weight: bold;

        }

        p {
            font-size: 18px;
            line-height: 30px;
            font-family: $paprika;

        }

        button {
            @include button();
        }
    }
}