#impact{

    .tittle{
        padding-top: 91px;
        padding-bottom: 75px;

        h3{
            @include tittle();

        }
        p{
            width: 558px;
            font-size: 18px;
            line-height: 30px;
            font-family: $paprika;
            margin: 0 auto;

        }
    }
    .content{
        gap: 10px;
        // justify-items: center;
        justify-content: space-between;

        img{
            width: 100%;
           
        }
        li{
            padding-top: 40px;
        }
        .text{
            h4{
                font-size: 30px;
                line-height: 36px;
                letter-spacing: 0.5px;

            }
            p{
                width: 343px;
                font-size: 18px;
                line-height: 30px;

            }

        }
        .left{
            .cards{
                gap:35px;
                justify-content: center;
              
            }
            
        }

    }
}