#plan {
    background: #F9F9FB;
    padding-bottom: 100px;
    .tittle {
        padding-bottom: 64px;

        h2 {
            @include tittle();
        }
    }


    .cards {
        border-radius: 20px;
        background: #ffffff;

        &:hover{
            background: $violet;
            color: $white;
            p{
                color: $white;
            }

        }

        h4 {
            padding-top: 60px;
            padding-bottom: 24px;
            font-size: 30px;
            line-height: 36px;
            font-weight: 700;
        }

        img {
            width: 100%;
        }

        h3 {
            font-size: 48px;
            padding-top: 24px;
            line-height: 50px;
            font-weight: 800;
            color: $green;
            font-family:  "Nunito", serif;
        }

        p {
            width: 252px;
            font-size: 18px;
            line-height: 32px;
            font-family: $paprika;
            margin: 0 auto;
            color: #726E9E;
            padding-bottom: 60px;
            text-shadow: 1px 1px #000000;
        }



    }

}