#thinks {
    background: #F8F8FF;
    text-align: center;

    .tittle {
        padding-bottom: 157px;

        h2 {
            @include tittle();
        }
    }

    .slideshow_box {
        width: 1080px;
        margin: 0 auto;
        border-radius: 20px;
        background: #ffffff;
        -webkit-box-shadow: -15px 30px 50px 0px rgba(171, 175, 199, 0.32);
        -moz-box-shadow: -15px 30px 50px 0px rgba(171, 175, 199, 0.32);
        box-shadow: -15px 30px 50px 0px rgba(171, 175, 199, 0.32);

        .icon {
            padding-top: 120px;
            padding-bottom: 33px;

        }

        .details {
            width: 800px;
            font-size: 24px;
            line-height: 40px;
            padding-bottom: 48px;
            margin: 0 auto;
            font-family: $paprika;
            color: #726E9E;
        }

        h3 {
            font-size: 25px;
            font-weight: 700;
            line-height: 40px;
        }

        p {
            font-size: 16px;
            padding-bottom: 56px;
            line-height: 25px;
            color: #726E9E;
            font-family: $paprika;
        }

    }
}